@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Website About Trek Lewis";
}
<!--Trek Lewis: Mission 4, this is a website about myself with a grade calculator attached.-->
<!--Body elements including title, image, what I hope to learn from this course, job options, and a grade calculator-->
<h1 class="container-fluid">Trek Lewis Learns to Build a WebApp in ASP.NET</h1>

<!--Image of me doing my favorite activity with a description-->
<img src="~/img/IMG_7456.jpg" />
<p>Shreddin the slopes</p>
<br />

<!--What I hope to get out of this class by the end of the semester-->
<p>
    By the end of this class I hope to be able to build the framework for an enterprise-ready web application from memory.
</p>
<p>
    I also want to develop stronger troubleshooting skills that will be useful in industry.
</p>
<br/>

<!--Top job picks out of undergrad-->
<h2>Top 3 Jobs</h2>
<ul class="list-group">
    <li class="list-group-item-action">Private Equity Analyst</li>
    <li class="list-group-item-action">Investment Banking Analyst</li>
    <li class="list-group-item-action">Web Developer for a startup</li>
</ul>
<br />
<br />

<!--Grade calculator form-->
